In [1]:
import pyodbc
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import json

In [2]:
r = requests.get("https://github.com/owid/covid-19-data/tree/master/public/data",allow_redirects=True)
r = r.content

In [3]:
# create soup object
soup = bs(r,"html.parser")

In [4]:
# export html doc to file stored
with open('response.html','wb') as file:
    file.write(soup.prettify('utf-8'))

In [5]:
# search & navigate html tree to extract data
links = soup.find_all('a',class_="js-navigation-open Link--primary",title='owid-covid-data.csv')

In [6]:
#extract text
link = soup.find('a',class_="js-navigation-open Link--primary",title='owid-covid-data.csv')
link.text

'owid-covid-data.csv'

In [7]:
base_url = 'https://raw.githubusercontent.com'

In [8]:
# extract data from html tree to get attribute value of href file link
for i in links:
    r_url = repr(i.get('href'))
    url_1 = base_url.strip("'")+r_url.strip("'")
    url = url_1.strip('/blob')
    print(url)

https://raw.githubusercontent.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv

In [9]:
response= requests.get("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
response.status_code

200

In [10]:
open(url.rsplit('/', 1)[1], 'wb').write(response.content)

41582136

In [11]:
url.rsplit('/', 1)[1]

'owid-covid-data.csv'

In [12]:
# r = json.loads(response.content)

In [13]:
# covid_data=pd.DataFrame.from_dict(r,orient='index')
# covid_data.head()

In [14]:
covid_data = pd.read_csv('owid-covid-data.csv')

In [15]:
covid_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [16]:
covid_death = covid_data[['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million']]
covid_death = covid_death.fillna(value=0)
covid_death.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,0.126,0.126,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0

In [17]:
covid_vaccination = covid_data[['iso_code', 'continent', 'location', 'date','total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred']]
covid_vaccination = covid_vaccination.fillna(value=0)
covid_vaccination.tail().sort_values(by='date', ascending=False)

,iso_code,continent,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred
148561,ZWE,Africa,Zimbabwe,2021-12-19,7123684.0,4054165.0,3069519.0,0.0,11738.0,27121.0,47.20,26.86,20.34,0.0,1797.0,13899.0,0.092
148560,ZWE,Africa,Zimbabwe,2021-12-18,7111946.0,4048019.0,3063927.0,0.0,19555.0,28607.0,47.12,26.82,20.30,0.0,1895.0,14744.0,0.098
148559,ZWE,Africa,Zimbabwe,2021-12-17,7092391.0,4038743.0,3053648.0,0.0,33917.0,27618.0,46.99,26.76,20.23,0.0,1830.0,14384.0,0.095
148558,ZWE,Africa,Zimbabwe,2021-12-16,7058474.0,4023289.0,3035185.0,0.0,45074.0,26738.0,46.77,26.66,20.11,0.0,1772.0,14047.0,0.093
148557,ZWE,Africa,Zimbabwe,2021-12-15,7013400.0,4000022.0,3013378.0,0.0,33000.0,25508.0,46.47,26.50,19.97,0.0,1690.0,13044.0,0.086

In [18]:
connection = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-E28526DD\SQLEXPRESS;'
                      'Database=coviddata;'
                      'Trusted_Connection=yes;')

In [19]:
cursor = connection.cursor()

In [20]:
for index, row in covid_death.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_death$](iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.iso_code, row.continent, row.location, row.date, row.total_cases, row.new_cases,row.new_cases_smoothed, row.total_deaths, row.new_deaths,row.new_deaths_smoothed, row.total_cases_per_million,row.new_cases_per_million, row.new_cases_smoothed_per_million,row.total_deaths_per_million, row.new_deaths_per_million,row.new_deaths_smoothed_per_million)

In [21]:
connection.commit()

In [22]:
for index, row in covid_vaccination.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_vaccination$](iso_code, continent, location, date,total_vaccinations,people_vaccinated, people_fully_vaccinated, total_boosters,new_vaccinations, new_vaccinations_smoothed,total_vaccinations_per_hundred, people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.iso_code, row.continent, row.location, row.date,row.total_vaccinations,row.people_vaccinated, row.people_fully_vaccinated, row.total_boosters,row.new_vaccinations, row.new_vaccinations_smoothed,row.total_vaccinations_per_hundred, row.people_vaccinated_per_hundred,row.people_fully_vaccinated_per_hundred, row.total_boosters_per_hundred, row.new_vaccinations_smoothed_per_million,row.new_people_vaccinated_smoothed, row.new_people_vaccinated_smoothed_per_hundred)

In [23]:
connection.commit()

In [ ]:
## create temp table for new updated rows

for index, row in covid_death.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_death_t$](iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.iso_code, row.continent, row.location, row.date, row.total_cases, row.new_cases,row.new_cases_smoothed, row.total_deaths, row.new_deaths,row.new_deaths_smoothed, row.total_cases_per_million,row.new_cases_per_million, row.new_cases_smoothed_per_million,row.total_deaths_per_million, row.new_deaths_per_million,row.new_deaths_smoothed_per_million)

for index, row in covid_vaccination.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_vaccination_t$](iso_code, continent, location, date,total_vaccinations,people_vaccinated, people_fully_vaccinated, total_boosters,new_vaccinations, new_vaccinations_smoothed,total_vaccinations_per_hundred, people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.iso_code, row.continent, row.location, row.date,row.total_vaccinations,row.people_vaccinated, row.people_fully_vaccinated, row.total_boosters,row.new_vaccinations, row.new_vaccinations_smoothed,row.total_vaccinations_per_hundred, row.people_vaccinated_per_hundred,row.people_fully_vaccinated_per_hundred, row.total_boosters_per_hundred, row.new_vaccinations_smoothed_per_million,row.new_people_vaccinated_smoothed, row.new_people_vaccinated_smoothed_per_hundred)

In [ ]:
connection.commit()

In [ ]:
## for coming iterations of updating change, insert difference
cursor.execute(
insert into [coviddata].[dbo].[covid_death$](iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million)
(select * from [coviddata].[dbo].[covid_death$] as a
except
select * from [coviddata].[dbo].[covid_death_t$] as b)
)

cursor.execute(
insert into [coviddata].[dbo].[covid_vaccination$](iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million)
(select * from [coviddata].[dbo].[covid_vaccination$] as a
except
select * from [coviddata].[dbo].[covid_vaccination_t$] as b)
)

In [24]:
cursor.execute('SELECT top 5 * FROM [coviddata].[dbo].[covid_vaccination$]')

In [25]:
cursor.close()