In [1]:
import pyodbc
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import json

In [2]:
r = requests.get("https://github.com/owid/covid-19-data/tree/master/public/data",allow_redirects=True)
r = r.content

In [3]:
# create soup object
soup = bs(r,"html.parser")

In [4]:
# export html doc to file stored
with open('response.html','wb') as file:
    file.write(soup.prettify('utf-8'))

In [5]:
# search & navigate html tree to extract data
links = soup.find_all('a',class_="js-navigation-open Link--primary",title='owid-covid-data.csv')

In [6]:
#extract text
link = soup.find('a',class_="js-navigation-open Link--primary",title='owid-covid-data.csv')
link.text

'owid-covid-data.csv'

In [7]:
base_url = 'https://raw.githubusercontent.com'

In [8]:
# extract data from html tree to get attribute value of href file link
for i in links:
    r_url = repr(i.get('href'))
    url_1 = base_url.strip("'")+r_url.strip("'")
    url = url_1.strip('/blob')
    print(url)

https://raw.githubusercontent.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv

In [9]:
response= requests.get("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
response.status_code

200

In [10]:
open(url.rsplit('/', 1)[1], 'wb').write(response.content)

42002985

In [11]:
url.rsplit('/', 1)[1]

'owid-covid-data.csv'

In [12]:
# r = json.loads(response.content)

In [13]:
# covid_data=pd.DataFrame.from_dict(r,orient='index')
# covid_data.head()

In [14]:
covid_data = pd.read_csv('owid-covid-data.csv')

In [15]:
covid_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [16]:
covid_death = covid_data[['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million']]
covid_death = covid_death.fillna(value=0)
covid_death.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,0.126,0.126,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,0.126,0.000,0.0,0.0,0.0,0.0

In [17]:
covid_vaccination = covid_data[['iso_code', 'continent', 'location', 'date','total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred']]
covid_vaccination = covid_vaccination.fillna(value=0)
covid_vaccination.tail().sort_values(by='date', ascending=False)

,iso_code,continent,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred
149711,ZWE,Africa,Zimbabwe,2021-12-24,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.000
149710,ZWE,Africa,Zimbabwe,2021-12-23,7188128.0,4089315.0,3098813.0,0.0,20518.0,18522.0,47.63,27.10,20.53,0.0,1227.0,9432.0,0.062
149709,ZWE,Africa,Zimbabwe,2021-12-22,7167610.0,4078945.0,3088665.0,0.0,15664.0,22030.0,47.49,27.03,20.47,0.0,1460.0,11275.0,0.075
149708,ZWE,Africa,Zimbabwe,2021-12-21,7151946.0,4069302.0,3082644.0,0.0,16933.0,24507.0,47.39,26.96,20.43,0.0,1624.0,12505.0,0.083
149707,ZWE,Africa,Zimbabwe,2021-12-20,7135013.0,4060322.0,3074691.0,0.0,11329.0,25553.0,47.28,26.90,20.37,0.0,1693.0,13220.0,0.088

In [2]:
connection = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-E28526DD\SQLEXPRESS;'
                      'Database=coviddata;'
                      'Trusted_Connection=yes;')

In [3]:
cursor = connection.cursor()

In [ ]:
# cursor.execute("DROP TABLE IF EXISTS [covid_death$];")
# cursor.execute("DROP TABLE IF EXISTS [covid_vaccination$];")

In [ ]:
# cursor.execute("""
#   CREATE TABLE covid_death (
#     id serial PRIMARY KEY,
#     description VARCHAR NOT NULL
#   );
# """)

In [31]:
# initial data load
for index, row in covid_death.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_death$]\
                   (iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths\
                   ,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million\
                   ,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million) \
                   values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)" \
                   ,row.iso_code, row.continent, row.location, row.date, row.total_cases \
                   ,row.new_cases,row.new_cases_smoothed, row.total_deaths \
                   ,row.new_deaths,row.new_deaths_smoothed, row.total_cases_per_million \
                   ,row.new_cases_per_million, row.new_cases_smoothed_per_million,row.total_deaths_per_million \
                   ,row.new_deaths_per_million,row.new_deaths_smoothed_per_million)
connection.commit()

In [32]:
# initial data load
for index, row in covid_vaccination.iterrows():
    cursor.execute("INSERT INTO [coviddata].[dbo].[covid_vaccination$] \
    (iso_code, continent, location, date,total_vaccinations,people_vaccinated, people_fully_vaccinated \
                   , total_boosters,new_vaccinations, new_vaccinations_smoothed,total_vaccinations_per_hundred \
                   , people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred, total_boosters_per_hundred \
                   , new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed \
                   , new_people_vaccinated_smoothed_per_hundred) \
                   values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)" \
                   , row.iso_code, row.continent, row.location, row.date  \
                   , row.total_vaccinations,row.people_vaccinated, row.people_fully_vaccinated  \
                   , row.total_boosters,row.new_vaccinations, row.new_vaccinations_smoothed \
                   ,row.total_vaccinations_per_hundred, row.people_vaccinated_per_hundred \
                   ,row.people_fully_vaccinated_per_hundred, row.total_boosters_per_hundred \
                   , row.new_vaccinations_smoothed_per_million,row.new_people_vaccinated_smoothed \
                   , row.new_people_vaccinated_smoothed_per_hundred)
connection.commit()

In [4]:
## truncate & create temp table

cursor.execute("truncate table [coviddata].[dbo].[covid_death_t$]")

for index, row in covid_death.iterrows():
    cursor.execute("
               select iso_code, continent, location, date, total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths \
                   ,new_deaths_smoothed, total_cases_per_million,new_cases_per_million, new_cases_smoothed_per_million \
                   ,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million \
                into #[coviddata].[dbo].[covid_death_t$] 
                from covid_death
               ")
connection.commit()

ProgrammingError: ('42S02', '[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot find the object "covid_death_t$" because it does not exist or you do not have permissions. (4701) (SQLExecDirectW)')

In [ ]:
## truncate & create temp table

cursor.execute("truncate table [coviddata].[dbo].[covid_vaccination_t$]")

for index, row in covid_vaccination.iterrows():
    cursor.execute("
               select iso_code, continent, location, date,total_vaccinations,people_vaccinated
               , people_fully_vaccinated, total_boosters,new_vaccinations, new_vaccinations_smoothed
               ,total_vaccinations_per_hundred, people_vaccinated_per_hundred
               ,people_fully_vaccinated_per_hundred, total_boosters_per_hundred
               , new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed
               , new_people_vaccinated_smoothed_per_hundred
    into #[coviddata].[dbo].[covid_vaccination_t$]
    from covid_vaccination
               ")
connection.commit()

In [ ]:
## for coming iterations of updating change, insert difference
cursor.execute(
"insert into [coviddata].[dbo].[covid_death$](iso_code, continent, location, date \
    , total_cases, new_cases,new_cases_smoothed, total_deaths, new_deaths \
    ,new_deaths_smoothed, total_cases_per_million,new_cases_per_million \
    , new_cases_smoothed_per_million,total_deaths_per_million, new_deaths_per_million,new_deaths_smoothed_per_million) \
(select * from [coviddata].[dbo].[covid_death$] as a \
except \
select * from [coviddata].[dbo].[covid_death_t$] as b) \
)"
)

cursor.execute(
"insert into [coviddata].[dbo].[covid_vaccination$](iso_code, continent \
, location, date, total_cases, new_cases,new_cases_smoothed \
, total_deaths, new_deaths,new_deaths_smoothed, total_cases_per_million  \
,new_cases_per_million, new_cases_smoothed_per_million,total_deaths_per_million  \
, new_deaths_per_million,new_deaths_smoothed_per_million) \
(select * from [coviddata].[dbo].[covid_vaccination$] as a  \
except \
select * from [coviddata].[dbo].[covid_vaccination_t$] as b) \
)"
)

In [24]:
cursor.execute('SELECT top 5 * FROM [coviddata].[dbo].[covid_vaccination$]')

In [ ]:
result = cursor.fetchall() # retrieve previous statement
print(result)

In [25]:
connection.close()
cursor.close()